
.Dashboard_header_item {
    height: 180px;
    border-radius: 16px;
    background-color: #fff;
    padding: 18px 30px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Dashboard_navbar {
    display: flex;
    align-items: center;
}
.Dashboard_body_item-statis {
    // height: 380px;
    // width: 100%;
    border-radius: 16px;
    background-color: #fff;
    padding: 16px 18px 18px 18px;
    margin-bottom: 22px;
    .Dashboard_body_item-statis--title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        h5 {
            font-size: 16px;
            font-weight: 600;
        }
    }
}
.Dashboard_footer_item-statis {
    height: 460px;
    border-radius: 16px;
    background-color: #fff;
    padding: 0 12px;
    margin-bottom: 22px;
}
.Dashboard_header_item-content {
    display: flex;
    justify-content: space-between;
    .Dashboard_header_item-content--num {
        font-size: 24px;
        color: $primary-color;
        font-weight: 600;
        width: 70%;
    }
}
.Dashboard_header_item-footer {
    span {
        font-size: 14px;
        color: #8c8a8b;
        font-weight: 600;
    }
}
.Dashboard_header_item-title {
    display: flex;
    justify-content: space-between;
    span {
        font-size: 20px;
        font-weight: 600;
    }
    .Dashboard_header_item-title--icon {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        align-content: center;
        text-align: center;
        background-color: $primary-color;
        color: #fff;
        svg {
            height: 16px;
        }
    }
}

.Conatiner_item {
    display: flex;
    align-items: center;
    img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
    .Container_item_info {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        span {
            font-size: 13px;
            font-weight: 700;
            color: #e83c4a;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            font-size: 11px;
            font-weight: 600;
            color: rgb(158, 158, 158);
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.Dashboard_container {
    background-color: #fff;
    border-radius: 14px;
    padding: 20px;
    .Dashboard_container_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
    }
    .Dashboard_container_header-title {
        font-weight: 600;
        font-size: 16px;
    }
}
.Dashboard_body_item-chart {
    height: 100%;
    width: 100%;
}
.Modal_Timeline {
    min-height: 200px;
    margin-top: 25px;
}