* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: sans-serif;
  background: #fff;
  color: #000;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
.ant-col {
  width: 100%;
}
.Header_table {
  overflow-x: auto;
}
.Header_table::-webkit-scrollbar {
  width: 6px; /* Chiều rộng của thanh cuộn dọc */
  height: 6px; /* Chiều cao của thanh cuộn ngang */
}
.Header_table::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Màu của phần tay cầm thanh cuộn */
  border-radius: 10px; /* Bo tròn các góc của thanh cuộn */
}
.Header_table {
  .ant-table-thead>tr>th {
    background-color: $primary-color-blur;
    color: #fff;
  }
}
.Header_table .ant-table-cell {
  font-weight: 600; /* hoặc 500, 700 tùy bạn */
}
/* Chọn phần khung hiển thị đã chọn */
.my-custom-select .ant-select-selector {
  background-color: #f1f3f4 !important; /* vàng nhạt */
  color: #333;
  border: none !important;
  min-width: 100px;
}

.my-custom-select {
  border: none !important;
}
.my-custom-select .ant-select-selection-placeholder {
  color: #818286;
  font-weight: 600;
}
/* Placeholder ("Start date", "End date") */
.custom-range-picker .ant-picker-input > input::placeholder {
  color: #818286 !important; /* Màu placeholder */
}

/* Text đã chọn (ngày) */
.custom-range-picker .ant-picker-input > input {
  color: #818286 !important; /* Màu text chính */
}
//Andt drawer
.site-form-in-drawer-wrapper {
  position: absolute;
  inset-inline-end: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}